body{
	background-color : rgb(13, 14, 12);
}

.text{
	font-size: 3.3vw;
	font-family: "Lucida Sans Unicode";
	text-align: center;
	background: white;
	width: 60%;
	margin: auto;
	border: 20px solid white;
}

.header{
	display: flex;
	background: lightyellow;
	width: 60%;
	margin: auto;
	align-items: center;
	border: 20px solid white;
}

#profile-img{
	width: 25%;
	max-width: 200px;
	border: 0.3vw dashed rgb(13, 14, 12);
}

.top-text{
	font-size: 2.5vw;
	font-weight: bold;
	font-family: "Courier New";
	text-align: center;
	width: 100%;
}

.mid{
	font-size: 2.3vw;
	font-family: "Courier New";
	text-align: justify;
	width: 60%;
	margin: auto;
	background: white;
	border: 20px solid white
}